
/* General styling */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    color: #222;
    background: rgb(75, 75, 134);
    background-color: lightgrey;
}

/* styles before the modal displays */

div.launch-pad {
    text-align: center;
    margin: 0.5rem;
}

div.logo-div {
    margin-top: 2rem;
}

#logo {
    border-radius: 15px;
    max-width: 70%;
    margin-bottom: 2rem;
    box-shadow: 0 1px 5px black;
}

#sign-up-btn {
    color: whitesmoke;
    width: 40%;
    height: 2.5rem;
    font-size: 120%;
    background-color: #396;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sign-up-btn:hover {
    box-shadow: 0 1px 5px black;
}

/* Form Modal styles */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, 
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.cancel-btn {
    padding: 14px 20px;
    border: none;
    background-color: #f44336;
}

div.form-btns {
    display: flex;
}

div.form-btns button {
    width: 50%;
}

div.container {
    padding: 1rem;
}

/* The Modal Content */
div#my-modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(75, 75, 134);
    padding-top: 3rem;
}

.form-modal-content {
    background-color: whitesmoke;
    margin: 5% auto 15%;
    border-radius: 7px;
    width: 80%;
}

hr {
    border: 1px solid gray;
    margin-bottom: 1.5rem;
}

.close-form {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 50px;
    font-weight: bold;
}