
/* General styling */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    color: #222;
    background-color: lightgrey;
    background: rgb(75, 75, 134);
}

/* Navigation styles */
nav.navbar {
    display: flex;
}